*{
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family:  "Amiri", serif;;
 }
 .container-page{
  background-color: #eff6e0;
}
.title{
  font-family: "Noto Naskh Arabic" !important;
  text-decoration: underline;

}